<head>
 
</head>

<section class="section section-lg section-lg-alternative bg-gray-lighter novi-background bg-light">
    <link rel="stylesheet" href="~/Site1/site/css/style.css">
    <link rel="stylesheet" href="~/Site1/site/css/fonts.css">
    <link rel="stylesheet" href="~/miniblog/css/style.css">

    <div class="container container-wide">
        <div class="row row-50 justify-content-sm-center text-gray-light">
            <div class="col-sm-10 col-md-6 col-xl-3">
                <article class="box-minimal">
                    <div class="box-minimal-header">
                        <div class="box-minimal-icon box-minimal-icon-lg novi-icon mdi mdi mdi-airplane"></div>
                        <h6 class="box-minimal-title">Küresel</h6>
                    </div>
                    <p>Sitemiz, geniş bir kategori yelpazesiyle, teknolojiden sağlığa, eğitimden spora, kültür-sanata, ekonomiden siyasete kadar çeşitli alanlarda günlük haberler ve özgün blog yazıları sunmaktadır.</p>
                </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
                <article class="box-minimal">
                    <div class="box-minimal-header">
                        <div class="box-minimal-icon box-minimal-icon-lg novi-icon mdi mdi-map"></div>
                        <h6 class="box-minimal-title">BİLGİLENDİRİCİ</h6>
                    </div>
                    <p>Ayrıca, uzman yazarlarımızın kişisel deneyimlerini ve görüşlerini paylaştığı köşe yazıları da platformumuzda yer almaktadır, bu da okuyuculara çeşitli bakış açıları sunmaktadır.</p>
                </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
                <article class="box-minimal">
                    <div class="box-minimal-header">
                        <div class="box-minimal-icon box-minimal-icon-lg novi-icon mdi mdi-pencil"></div>
                        <h6 class="box-minimal-title">ETKİLEŞİM</h6>
                    </div>
                    <p>Topluluğumuz, okuyucuların etkileşimini teşvik eder; onların yorumlarını ve katkılarını bekleriz. Bu, dinamik bir ortam oluşturarak okuyucuların platformumuza aktif olarak katılmasını sağlar.</p>
                </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
                <article class="box-minimal">
                    <div class="box-minimal-header">
                        <div class="box-minimal-icon box-minimal-icon-lg novi-icon mdi mdi-android"></div>
                        <h6 class="box-minimal-title">ERİŞİM</h6>
                    </div>
                    <p>Sitemiz, kullanıcı dostu arayüzü sayesinde her türlü platform ve akıllı telefon üzerinden erişilebilmektedir. Kolaylıkla içeriklere ulaşabilir ve platformumuzu keyifle gezinebilirsiniz.</p>
                </article>
            </div>
        </div>
    </div>
</section>
<script src="~/Site2/site/js/core.min.js"></script>
<script src="~/Site2/site/js/script.js"></script>