@model IEnumerable<EntityLayer.Concrete.Comment>
<div class="pt-5">
    <h3 class="mb-5">Yorumlar</h3>
    <ul class="comment-list">
        @foreach (var x in Model)
        {
            <li class="comment">
                <div class="vcard">
                    <img src="~/miniblog/images/computer-icons-symbol-speech-balloon-png-favpng-FgrYX5taz8KDP7i3eZbfXnkgi.jpg" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h3>@x.UserName</h3>
                    <div class="meta">@x.CommentDate.ToString("dd MMM yyy")</div>
                    <p>@x.Message</p>
                    <p><a href="#" class="reply rounded">Reply</a></p>
                </div>
            </li>
        }
    </ul>
    <!-- END comment-list -->
    @Html.Action("LeaveComment", "Comment")
</div>

