@model IEnumerable<EntityLayer.Concrete.Category>
@using PagedList
@using PagedList.Mvc
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="~/Site2/site/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800%7CPoppins:300,400,700">
    <link rel="stylesheet" href="~/Site2/site/css/fonts.css">
    <link rel="stylesheet" href="~/Site2/site/css/style.css" id="main-styles-link">

    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>
</head>
<body>
    <div class="page">
        <!-- Services-------------------------------------------------------------------------------------------------------------->
        <section class="site-section bg-light text-center">
            <div class="container">
                <h3 class="text-uppercase">Aradığınız Bilgilere Daha Hızlı Ulaşın</h3>
                <div class="row row-35 row-xxl-70 offset-top-2">
                    @foreach (var x in Model)
                    {

                        <div class="col-sm-6 col-lg-3">

                            <article class="thumbnail-light">
                                <a class="thumbnail-light-media" href="/Blog/BlogByCategory/@x.CategoryID">
                                    <img class="thumbnail-light-image" src="@x.BlogImg" alt="" style="width:270px;height:200px" width="370" height="350" />
                                </a>
                                <h4 class="thumbnail-light-title text-center">
                                    <a href="/Blog/BlogByCategory/@x.CategoryID">@x.CategoryName</a>
                                </h4>
                            </article>
                        </div>
                    }
                    <br />
                </div>

            </div>
            <div style="margin-top:50px" class="col-md-12 wow-outer"><a class="button button-primary button-winona button-md" href="/Blog/AllCategoriesDetails">Tüm Kategorileri Gör</a></div>

        </section>

        <!-- Services-------------------------------------------------------------------------------------------------------------->
    </div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>