@model IEnumerable<EntityLayer.Concrete.Blog>
@foreach (var x in Model)
{
    <div class="post-content-body">
        <p>
            @x.BlogContent
        </p>
        <div class="row mb-5 mt-5">
            <div class="col-md-12 mb-4">
                <img src="@x.BlogImage2" alt="Image placeholder" class="img-fluid rounded">
            </div>
            <div class="col-md-6 mb-4">
                <img src="@x.BlogImage3" alt="Image placeholder" class="img-fluid rounded">
            </div>
            <div class="col-md-6 mb-4">
                <img src="@x.BlogImage4" alt="Image placeholder" class="img-fluid rounded">
            </div>
        </div>
    </div>
}

