@model IEnumerable<EntityLayer.Concrete.Blog>
@foreach (var x in Model)
{
    <div class="sidebar-box">
        <div class="bio text-center">
            <img src="@x.Author.AuthorImg" alt="Image Placeholder" class="img-fluid mb-5">
            <div class="bio-body">
                <h2>@x.Author.AuthorName</h2>
                <p class="mb-4">@x.Author.AuthorAbout</p>
            </div>
        </div>
    </div>
}