@model IEnumerable<EntityLayer.Concrete.Category>
<div class="sidebar-box">
    <h3 class="heading">Kategoriler</h3>
    @foreach (var x in Model)
    {
        <ul class="categories">
            <li><a href="/Blog/BlogByCategory/@x.CategoryID">@x.CategoryName</a></li>
        </ul>
        <br />
    }
</div>

